.drawBoard {
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.rootDiv {
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
}

.cat {
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
}
